/* Настройки шкал */
.axis {
  shape-rendering: crispEdges;
}
.axis path,
.axis line {
  fill: none;
  stroke: black;
}

/* Метки на шкалах */
.axis .tick {
  font: 12px Arial;
}

.bar text {
  opacity: 0;
}

.bar:hover text {
  opacity: 1;
  fill: white;
  font: 16px Arial;
}
